

/* RESET */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* BACKGROUND WORLD CUP THEME */
body {
    font-family: "Segoe UI", Arial, sans-serif;
    min-height: 100vh;

    background:
        linear-gradient(
            rgba(0, 0, 0, 0.6),
            rgba(0, 0, 0, 0.6)
        ),
        url("images/image.png");

    background-size: contain;
    background-color: #ffffff;
;

    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
}


/* MAIN CARD */
.container {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(14px);
    border-radius: 16px;
    padding: 40px;
    width: 100%;
    max-width: 650px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
}

/* HEADER */
h1 {
    text-align: center;
    font-size: 2.3rem;
    margin-bottom: 10px;
}

.subtitle {
    text-align: center;
    font-size: 1rem;
    opacity: 0.9;
    margin-bottom: 20px;
}

/* HOST COUNTRIES */
.flags {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 30px;
}

.flag {
    background: rgba(255, 255, 255, 0.15);
    padding: 10px 18px;
    border-radius: 12px;
    font-weight: bold;
    font-size: 0.9rem;
}

/* SECTIONS */
.section {
    margin-top: 30px;
    padding-top: 20px;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
}

h2 {
    margin-bottom: 15px;
}

/* TEXT */
.info {
    margin-top: 8px;
    font-size: 0.95rem;
}

.status {
    margin-top: 10px;
    font-weight: bold;
}

/* INPUTS */
input {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    border-radius: 8px;
    border: none;
    font-size: 1rem;
}

/* BUTTONS */
button {
    width: 100%;
    margin-top: 12px;
    padding: 12px;
    font-size: 1rem;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    background: linear-gradient(135deg, #ffcc00, #ff9900);
    color: #000;
    font-weight: bold;
    transition: transform 0.2s, box-shadow 0.2s;
}

button:hover {
    transform: translateY(-2px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
}

/* CONNECT BUTTON SPECIAL */
#connectBtn {
    background: linear-gradient(135deg, #00c6ff, #0072ff);
    color: white;
}

/* MOBILE */
@media (max-width: 600px) {
    .container {
        padding: 25px;
    }

    h1 {
        font-size: 1.8rem;
    }
}

.title {
    font-size: 42px;
    font-weight: 800;
    color: white;
    display: flex;
    align-items: center;
    gap: 15px;
}

.ball {
    display: inline-block;
    font-size: 48px;
    animation: floatBall 3s ease-in-out infinite;
}

@keyframes floatBall {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-12px);
    }
    100% {
        transform: translateY(0px);
    }
}

